.card {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.2);
}

.card--image {
  width: 100%;
}

.card--bottom {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
}

.card--bottom > * {
  margin-bottom: 4px;
}

.card--bottom .card--name {
  text-align: center;
  margin: 0 0 10px 0;

  text-overflow: ellipsis;
  overflow: hidden;
}

.card--rating {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 0.9em;
}

.card--rating img {
  margin-right: 5px;
}

.card--type {
  font-style: italic;
}

.card--cost{
  padding-left: 15px;
  margin-top: auto;
  font-weight: bold;
}

.card--add {
  margin: 0px 10px 10px 10px;
  padding: 10px 0;
}
