.home-page {
  margin-bottom: auto;
}
.home-page img{
  grid-column: 1 / 9;
  max-width: 100%;
}

.home-page p {
  grid-column: 1 / 5;
  grid-row: 2;

  padding-left: 10px;
  padding-top: 20px;
}

.home-page .link--shop {
  grid-column: 5 / 9;
  grid-row: 2;

  margin: 50px 30px;
  padding: 5px;

  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
}

.link--shop > button {
  display: inline-block;
  background: none;
  border: none;
}
.link--shop:hover {
  color: var(--secondary);
  background: var(--primary);
}


/* small tablet styles */
@media screen and (min-width: 620px) {
  
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {

}

/* desktop styles */
@media screen and (min-width: 1200px) {

}