.navbar > .logo > h1 {
  color: var(--secondary);
  font-weight: bold;
  text-align: center;
}

.navbar .logo {
  grid-column: 1 / 3;
}

.navbar ul {
  display: none;
}

.cart--link {
  align-self: center;
  justify-self: center;
  grid-column: 8/9;
}

.navbar {
  background-color: var(--primary);
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  .navbar .logo {
    grid-column: 1 / 3;
    font-size: 1.5em;
    justify-self: center;
    text-align: start;
  }
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
  .cart {
    width: 120%;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {

}