.checkout-card {
  grid-column: 1 / 9;
  margin: 0 10px;
  padding-bottom: 2px;

  border-radius: 9px;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.2);

  height: clamp(150px, 175px, 200px);
  grid-template-rows: repeat(5, 20%);
  width: clamp(330px, 340px, 350px);
}

.checkout-card button {
  border-radius: 5px;
}

.checkout-card--image {
  grid-row: 1 / 5;
  grid-column:  1 / 4;

  place-self: center;
  width: 100%;
  max-width: 144px;
}

.checkout-card--quantity {
  display: flex;
  align-items: center;

  grid-row: 5 / 6;
  grid-column: 1 / 4;
  place-self: center center;
}

.checkout-card--quantity > h3 {
  margin: 0 10px;
  margin-left: 10px;
}

.checkout-card--content {
  grid-row: 1 / 5;
  grid-column: 4 / 9;
  margin-top: 10px;
}

.checkout-card--name {
  font-weight: bold;
}

.checkout-card--content > * {
  margin-left: 10px;
  padding-top: 10px;
}

.checkout-card--delete {
  grid-row: 5 / 6;
  grid-column: 4 / 9;
  place-self: center start;
  
  margin-left: 10px;
  padding: 3px 8px;
}

/* small tablet styles */
@media screen and (min-width: 620px) {

}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
  body{font-size: 18px;}
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}