.navbar > .logo > h1 {
  color: var(--secondary);
  font-weight: bolder;
  text-align: center;
}

.navbar .logo {
  grid-column: 1 / 3;
}

.navbar ul {
  display: none;
}


.dot {
  height: 1.2em;
  width: 1.2em;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  transform: translate(-75%, -75%);

  text-align: center;
  color: var(--secondary);
  font-weight: 700;
}

.navbar {
  background-color: var(--primary);
}

.account--link {
  grid-column: 3 / 5;
  align-self: center;
  text-align: center;
  font-size: 0.8em;
  color: var(--secondary);
}

.cart--link {
  align-self: center;
  justify-self: center;
  grid-column: 8/9;
}

.logout {
  grid-column: 5 / 8;
  background-color: var(--secondary);
  padding: 4px 30px;
  margin: 10px;
  justify-self: center;

  cursor: pointer;
}

.login {
  grid-column: 5 / 8;
  background-color: var(--secondary);
  padding: 4px 30px;
  margin: 10px;
  justify-self: center;

  cursor: pointer;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  .navbar .logo {
    grid-column: 1 / 3;
    font-size: 1.5em;
    justify-self: center;
    text-align: start;
  }
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
  .cart {
    width: 90%;
  }

  .dot {
    transform: translate(90%, -225%);
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {

}